<template>
  <footer class="text-white bg-info fixed-bottom">
    <div class="text-right p-3">
      2020 Copyright:
      <a class="text-light" href="">Massimiliano Salerno</a>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
