<template>
  <div>
    <template>
      <CNavbar expandable="md" type="dark" color="info">
        <CToggler in-navbar @click="collapsed = !collapsed"/>
        <CNavbarBrand href="#">Applicazione Attori</CNavbarBrand>
        <CCollapse :show="collapsed" navbar>
          <CNavbarNav>
            <CNavItem v-for="voice in voices" :to="voice.path">{{voice.menuTitle}}</CNavItem>
          </CNavbarNav>

          <!-- Right aligned nav items -->
          <CNavbarNav class="ml-auto" v-if="user">

            <CDropdown
                    nav
                    :togglerText="user.name"
                    addTogglerClasses="text-light"
                    placement="bottom-end"
            >
              <CDropdownItem>Profile</CDropdownItem>
              <CDropdownItem @click="logout">Logout</CDropdownItem>
            </CDropdown>
          </CNavbarNav>
        </CCollapse>
      </CNavbar>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Header',
  props: ['user', 'voices'],
  data(){
    return{
      collapsed: false
    }
  },
  methods: {
    logout(){
      this.$emit('logout');
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
