<template>
  <div>
    <h1>Attori</h1>
    {{actors}}
  </div>
</template>

<script>

export default {
  name: 'Actors',
  data() {
    return {
      actors: []
    }
  },
  mounted(){
    this.$http.get(`${process.env.VUE_APP_URL}actors`).then(res => {
      console.log(res);
      this.actors = res && res.body? res.body : [];
    })
  }
}
</script>
