<template>
  <div v-if="issetToken && issetUser">
    <router-view/>
  </div>
</template>

<script>
import * as actionType from '../store/modules/auth/actionType';
export default {
  name: 'AuthPage',
  created(){
    this.$store.dispatch(actionType.autoLogin);
  },
  computed: {
    issetToken(){
      return !!this.$store.getters.getToken
    },
    issetUser(){
      return !!this.$store.getters.getUser
    }
  }
}
</script>
