<template>
  <div class="container">
    <h1>Login</h1>
    <form @submit.prevent="login">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" v-model="user.email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" v-model="user.password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</template>

<script>
import * as actionType from '../store/modules/auth/actionType';
import * as errorActionType from '../store/modules/error/actionType';
export default {
  name: 'Login',
  data(){
    return {
      user: {}
    }
  },
  methods: {
    login: function () {
      this.$http.post(process.env.VUE_APP_URL + 'login', this.user).then(res => {
        if(res.ok){
          this.$store.dispatch(actionType.setToken, res.body.token);
          this.$router.push({name: 'Home'});
        }
      }, err => {
        this.$store.dispatch(errorActionType.addError, {message: 'Errore in fase di login'});
        this.$store.dispatch(errorActionType.addError, {message: 'Errore2 in fase di login'});
      })
    }
  }
}
</script>
