<template>
  <div id="app">
    <AlertCustom :errors="errors" @closeError="removeError"></AlertCustom>
    <Header :user="user" :voices="voices" @logout="logout"></Header>
    <router-view/>
    <Footer></Footer>
  </div>
</template>
<script>
  import Header from "./components/core/Header";
  import Footer from "./components/core/Footer";
  import * as actionType from './store/modules/auth/actionType';
  import * as errorActionType from './store/modules/error/actionType';
  import AlertCustom from "./components/core/AlertCustom";
  export default {
    components: {AlertCustom, Footer, Header},
    methods: {
      logout(){
        this.$store.dispatch(actionType.logout);
      },
        removeError(error){
          this.$store.dispatch(errorActionType.removeError, error);
        }
    },
    computed: {
      user() {
        return this.$store.getters.getUser;
      },
      voices(){
        return this.$store.getters.getVoices
      },
      errors(){
        return this.$store.getters.getErrors
      }
    }
  }
</script>
<style lang="scss">
@import "~@coreui/coreui/scss/coreui";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
